<h1 class="ng-scope">Cifrado de Vigenere</h1>
<p class="ng-scope">Para el cifrado se utiliza el abecedario inglés, el cual solo incluye letras de la 'a' a la 'z' sin incluir la 'ñ'. Los espacios, vocales tildadas, mayúsculas, dígitos, símbolos y retornos de linea no están permitidos. De esta manera tenemos un alfabeto de 26 caracteres.</p>
<p class="ng-scope">Para encriptar el texto ingresado se necesita una clave de encriptación en el alfabeto antes mecionado, esta clave se repite hasta que tenga el mismi largo que el texto a encriptar y luego se procede a utilizar la siguiente formula para encriptar caracter a caracter.</p>
<p class="ng-scope"></p>

<div ng-controller="VigenereCtrl as homeCtrl" class="ng-scope">
  <a class="btn btn-primary" href="#/vigenere/encript">Ir a Cifrado</a>
  <a class="btn btn-primary" href="#/vigenere/decrypt">Ir a Descifrado</a>
</div>

