<h1>Descifrado de Vigenere</h1>

<div ng-controller="VigenereResolutionCtrl">
	<decript-description></decript-description>
	
	<div ng-show="isInitilized()">
		<div class="well">
			<label>Clave</label>
			<p>{{vigenere.key}}</p>

			<label>Texto a encriptar</label>
			<p>{{vigenere.text}}</p>
		</div>

		<h3>Desifrado</h3>
		
		<div ng-show="!isFinished()">
			<p>Letra: {{vigenere.text[vigenere.currentStep]}}</p>
			<p>Letra encriptadora de la clave: {{vigenere.keyMask[vigenere.currentStep]}}</p>
			<p>Posicion: {{vigenere.currentStep}}</p>
			
			<div id="vigenereStepForm" ng-show="isAutoEvaluation()">
			  <div class="form-group" class="has-error" ng-class="{ 'has-error' : vigenere.stepAttemp.length > 0 && !isValid(vigenere.stepAttemp), 'has-success' : vigenere.stepAttemp.length > 0 && isValid(vigenere.stepAttemp) }">
				<label for="stepAttemp">Letra resultado del paso {{vigenere.currentStep}}</label>
				<div class="input-group">
					<input type="text" ng-model="vigenere.stepAttemp" class="form-control" id="stepAttemp">
					<span class="input-group-btn">
						<button ng-click="nextStep()" class="btn btn-default">Avanzar</button>
					</span>
				</div><!-- /input-group -->
				<div class="help-block" ng-show="vigenere.stepAttemp.length > 0 && !isValid(vigenere.stepAttemp)">
					<p>El resultado de la encriptacion ingresada no es correcta</p>
					<p>El resultado de la encriptación debe ser una letra sola</p>
				</div>
				<p class="help-block" ng-show="vigenere.stepAttemp.length > 0 && isValid(vigenere.stepAttemp)">El resultado es correcto</p>
			</div>
		</div>
		<div ng-show="!isAutoEvaluation()" style="margin-bottom: 20px;">
			<button ng-click="nextStep()" class="btn btn-default">Avanzar</button>
		</div>
	</div>
	<div class="alert alert-info">
		<label ng-show="isFinished()">Resultado Final</label>
		<label ng-show="!isFinished()">Resultado Parcial</label>
		<p>{{vigenere.result}}</p>
	</div>
	<button class="btn btn-primary" ng-show="isFinished()" ng-click="toEncript()">Cifrar</button>
</div>