.container-margin {
    margin-top: 20px;
	margin-bottom: 40px;
}

.step {
	background-color:yellow;
	font-weight:bold;
}

.varUpdate {
	background-color: PowderBlue;
}

input.ng-dirty.ng-invalid {
}

textarea.ng-dirty.ng-invalid {
}

textarea.ng-dirty.ng-valid{

}

input.ng-dirty.ng-valid{

}

#radioBtn .notActive{
    color: #3276b1;
    background-color: #fff;
}

.animate-show {
  opacity: 1;
}

.animate-show.ng-hide-add.ng-hide-add-active,
.animate-show.ng-hide-remove.ng-hide-remove-active {
  -webkit-animation:0.5s flipInX ease;
  animation:0.5s flipInX ease;
}

.animate-show.ng-hide {
  opacity: 0;
}

/* flip in */
@-webkit-keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}
