.container-margin {
    margin-top: 20px;
	margin-bottom: 40px;
}

.step {
	background-color:yellow;
	font-weight:bold;
}

.varUpdate {
	background-color: PowderBlue;
}

input.ng-dirty.ng-invalid {
}

textarea.ng-dirty.ng-invalid {
}

textarea.ng-dirty.ng-valid{

}

input.ng-dirty.ng-valid{

}

#radioBtn .notActive{
    color: #3276b1;
    background-color: #fff;
}
