<h1>Cifrado de Afin - Método de Cifrado</h1>

<div ng-controller="AfinEncryptCtrl as encCtrl">

	<!-- Significado variables y algoritmo-->
	<div ng-show="!encCtrl._withAutoEvaluation" class="container-fluid">
	<div class="row">
	<div class="col-md-6">
	<h4>Diccionario de Variables</h4>
	<ul>
		<li><em>Ci</em>: Caracter de mensaje cifrado</li>
		<li><em>A</em>: Constante de decimación</li>
		<li><em>B</em>: Clave</li>
		<li><em>Mi</em>: Carácter del mensaje original</li>
		<li><em>N</em>: Longitud del alfabeto</li>
	</ul>
	</div>
	<div class="col-md-6">
	<h4>Algoritmo de Cifrado</h4>
	<ul>
		<p>El algoritmo de cifrado se basa en la siguiente formula:</p>
		<p><b>Ci = (A * Mi + B) MOD N</b></p>
	</ul>
	<ol>
		<li ng-class="{ step: encCtrl.isCurrentStep(1) }">Tomar el primer carácter del mensaje de entrada o el siguiente al último procesado y pasarlo al número de su posición en el alfabeto de longitud 26. En el caso de caracteres de espacio, tomar el proximo caracter</li>
		<li ng-class="{ step: encCtrl.isCurrentStep(2) }">Aplicar la formula de cifrado al número de posición obtenido en el paso anterior</li>
		<li ng-class="{ step: encCtrl.isCurrentStep(3) }">Tomar el resultado del paso anterior y obtener el carácter correspondiente a esa posición en el alfabeto de longitud 26. Carácter cifrado</li>
		</ol>
		<style>
		.step {
			background-color:yellow;
			font-weight:bold;
		}
		</style>
	</ol>
	</div>
	</div>
	</div>

	<!-- Formulario texto-clave -->
	<form name="afinForm" novalidate ng-submit="afinForm.$valid && encCtrl.init()">
		<div class="form-group">
			<label>Modo Autoevaluación</label>
			<div class="input-group">
				<div id="radioBtn" class="btn-group">
					<a class="btn btn-primary btn-sm" ng-disabled="encCtrl.start" ng-class="{ 'active' : encCtrl._withAutoEvaluation, 'notActive' : !encCtrl._withAutoEvaluation }" ng-click="encCtrl.auto(true)">Si</a>
					<a class="btn btn-primary btn-sm" ng-disabled="encCtrl.start" ng-class="{ 'active' : !encCtrl._withAutoEvaluation, 'notActive' : encCtrl._withAutoEvaluation }" ng-click="encCtrl.auto(false)">No</a>
				</div>
			</div>
		</div>

		<div class="row">
		<div class="col-md-6">
		<div class="form-group" ng-class="{'has-error': afinForm.keyB.$invalid}">
			<label class="control-label" for="keyA">Constante de Cifrado - A</label>
			<div ng-init="keyA" id="keyA" input name="keyA" type="text" ng-model="keyA" required  >
	    			<select ng-model="keyA" ng-disabled="encCtrl.start">
      					<option value="1">1</option>
      					<option value="3">3</option>
				        <option value="5">5</option>
				        <option value="7">7</option>
				        <option value="9">9</option>
			        	<option value="11">11</option>
				        <option value="15">15</option>
				        <option value="17">17</option>
				        <option value="19">19</option>
		  		        <option value="21">21</option>
     			 		<option value="23">23</option>
			        	<option value="25">25</option>
    				</select>
				<p class="help-block">
					Seleccione un valor para la Constante de cifrado A.
				</p>
			</div>
		</div>
		</div>

		<div class="col-md-6">
		<div class="form-group" ng-class="{'has-error': afinForm.keyB.$invalid}">
			<label class="control-label" for="keyB">Clave - B</label>
			<div ng-init="keyB" id="keyB" input name="keyB" type="text" ng-model="keyB" required >
	    			<select ng-model="keyB" ng-disabled="encCtrl.start">
					<option value="0">0</option>
					<option value="1">1</option>
      					<option value="2">2</option>
				        <option value="3">3</option>
				        <option value="4">4</option>
				        <option value="5">5</option>
			        	<option value="6">6</option>
				        <option value="7">7</option>
				        <option value="8">8</option>
				        <option value="9">9</option>
		  		        <option value="10">10</option>
     			 		<option value="11">11</option>
			        	<option value="12">12</option>
      					<option value="13">13</option>
      					<option value="14">14</option>
				        <option value="15">15</option>
				        <option value="16">16</option>
				        <option value="17">17</option>
			        	<option value="18">18</option>
				        <option value="19">19</option>
				        <option value="20">20</option>
				        <option value="21">22</option>
		  		        <option value="22">22</option>
     			 		<option value="23">23</option>
			        	<option value="24">24</option>
      					<option value="25">25</option>
      					<option value="26">26</option>
    				</select>
				<p class="help-block">
					Seleccione un valor para la Clave de cifrado, tal que 1<=B<=26.
				</p>
			</div>
		</div>
		</div>
		</div>

		<div class="form-group" ng-class="{'has-error': afinForm.plaintext.$invalid}">
			<label class="control-label" for="plaintext">Texto a cifrar</label>
			<textarea name="plaintext" class="form-control" id="plaintext" rows="3" ng-model="plaintext" placeholder="Ingresar Texto a cifrar" ng-pattern="/^([a-z]*)|([ ]*)$/" required ng-disabled="encCtrl.start"></textarea>
			<p class="help-block">
				<strong ng-show="afinForm.plaintext.$error.required">El campo debe estar completado.<br/></strong>
				<strong ng-show="afinForm.plaintext.$error.pattern">El texto ingresado contiene caracteres inválidos.<br/></strong>
				Escriba un texto que contenga caracteres del alfabeto inglés. Es decir de la 'a' a la 'z', sin saltos de linea o caracteres especiales
			</p>
		</div>

		<input class="btn btn-default" ng-disabled="!afinForm.$valid" ng-show="!encCtrl.start" type="submit" value="Empezar"/>
		<input class="btn btn-default" ng-show="encCtrl.start" type="button" ng-click="encCtrl.next()" value="Siguiente"/>
		<input class="btn btn-default" ng-show="encCtrl.start" type="button" ng-click="encCtrl.finish()" value="Terminar"/>
		<input class="btn btn-default" ng-show="descifrar" type="button" ng-click="encCtrl.descifrar()" value="Descifrar Resultado"/>

		<div>&nbsp;</div>
		
		
		<div class="form-group">
			<label class="control-label" ng-hide = "hideParcial">Parcial</label>
			<textarea ng-disabled="!encCtrl._withAutoEvaluation" name="parcial" ng-hide = "hideParcial" class="form-control" id="parcial" rows="3" ng-model="parcial" ng-pattern="/^([a-z]*)|([ ]*)$/"></textarea>
			<p ng-hide="hideParcial">Valor obtenido en el paso actual del algoritmo</p>
			<p ng-show="parcialError"><b>El valor ingresado es incorrecto.</b></p>
		</div>

		<div class="form-group">
			<label class="control-label" ng-hide = "hideResult">Resultado</label>
			<textarea ng-disabled=true name="result" class="form-control" ng-hide = "hideResult" id="result" rows="3" ng-model="result" ></textarea>
			<p ng-hide="hideResult">Valor del resultado actual del proceso de cifrado</p>
			<p ng-show="showStatus">Fin del cifrado del texto ingresado. Seleccione "Empezar" para volver a realizar el proceso o "Descifrar Resultado" para realizar el proceso inverso con el resultado obtenido</p>
		</div>


	</form>

</div>

