<!DOCTYPE html>
<html>
<body>

<p>Ejecución de algoritmo Afin</p>

<form action="demo_form.asp">
Mensaje: <input type="text" name="Mensaje" value="hola" id="mensaje"><br>
Clave A: <input type="text" name="ClaveA" value="9" id="A"><br>
Clave B: <input type="text" name="ClaveB" value="4" id="B"><br>
</form>

<p></p>

<button onclick="ejecutar()">Ejecutar</button>

<script>

var z26 = ["a","b","c","d","e","f","g","h","i","j","k","l","m","n","o","p","q","r","s","t","u","v","w","x","y","z"];


function getPos(caracter){

	var i;
	for	(i = 0; i < z26.length; i++) {
		if(z26[i] == caracter){
			return i;
		}
	}
}


function paso1(input){
	
	var indice
	console.log("Paso 1: Obtener posición del caracter Mi a cifrar" +"<br>");

	resultado = getPos(input);

	console.log("Valor de Mi = " + resultado +"<br>");	
	return resultado;
}

function paso2(M,A,B){
	
	console.log("Paso 2: Aplicación de formula -> Ci = (a * Mi + b) mod n" + "<br>");
	console.log("Valor de A = "  + A + "<br>");
	console.log("Valor de B = "  + B + "<br>");
	console.log("Valor de N = 26 " + "<br>");
	console.log("Valor de Mi = " + M + "<br>");

	
	var resultado2 = z26[(( M * A ) + B) % 26];

	console.log("Valor de Ci = " + resultado2 +"<br>");
	return resultado2;

}

function findGCD( l1, l2) {

    if(l2 == 0){
        return l1;
    }
    return findGCD(l2, l1%l2);
}

function verificar(A,B){

	//Se verifican que A y B sean numeros
	if(isNaN(A) == true){
		document.write("La clave A ingresada no es un número"+"<br>");
		return 1;
	}

	if(isNaN(B) == true){
		document.write("La clave B ingresada no es un número"+"<br>");
		return 1;
	}

	//Se verifica que A sea != 1
	if( A == 1 || A > 26){
		document.write("La clave A debe ser un número distinto a 1"+"<br>");
		return 1;
		
	}

	//Se verifica que 1<=B<=26
	if( B > 26 || B < 1){
		document.write("La clave B debe ser un número entre 1 y 26"+"<br>");
		return 1;
		
	}		

	// Se verifican que los numeros sean coprimos
	if(findGCD(A,B) != 1){
		document.write("La clave no esta formada por numeros coprimos. Los coprimos validos son 1, 2, 3, 5, 7, 11, 13, 17, 19, 23"+"<br>");
		return 1;
	}
	
	return 0;
}


function ejecutar(){

	var mensaje = document.getElementById('mensaje').value;
	var A = parseInt(document.getElementById('A').value);
	var B = parseInt(document.getElementById('B').value);
	var text = "<ul>";
	var cifrado = "";
	var index;
	var iter;


	if (verificar(A,B) == 0){	

		document.write("El mensaje original es: " + mensaje +"<br>");

		for	(index = 0; index < mensaje.length; index++) {

			if(mensaje.charAt(index) != " "){

				iter = index + 1;	

				console.log("Iteración Nro: " + iter +"<br>"+"<br>");
				console.log("Caracter a ser cifrado "+ mensaje.charAt(index) +"<br>");

				var resultado1 = paso1(mensaje.charAt(index));	
				var resultado2 = paso2(resultado1,A,B);

			}
			else{
				resultado2 = " ";
			}
			cifrado+= resultado2;
		}

		document.write("<br>"+"El mensaje crifrado es: " + cifrado);
	}
	else{
		document.write("<br>"+"Error de datos ingresados. Por favor, ingrese valores correctos para la clave");
	}
}


</script> 

</body>
</html>