  <div class="container">
    <h1>Trabajo práctico de Taller II - 2do Cuatrimestre de 2014</h1>
    <p>En este proyecto se encontrará la explicación de una serie de algoritmos de cifrado y programas interactivos para aprenderlos</p>
	<h2>Alumnos</h2>
	<table class="table">
		<thead>
			<tr>
				<th>Nombre y apellido</th>
				<th>Padrón</th>
				<th>Correo electrónico</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Barreiro, Ariel Sebastián</td>
				<td>78648</td>
				<td>abarrei@gmail.com</td>
			</tr>
			<tr>
				<td>De Gregorio, Adrián</td>
				<td>86410</td>
				<td>adri.degregorio@gmail.com</td>
			</tr>
			<tr>
				<td>Dworjanyn, Enrique</td>
				<td>84253</td>
				<td>dworja@gmail.com</td>
			</tr>
			<tr>
				<td>Lucero, Martín Andrés </td>
				<td>89630</td>
				<td>luceromartinandres89630@gmail.com</td>
			</tr>
			<tr>
				<td>Rossi, Facundo</td>
				<td>86707</td>
				<td>frossi85@gmail.com</td>
			</tr>
		</tbody>
	</table>
</div>


