<!DOCTYPE html>
<html>
<body>

<p>Ejecución de algoritmo RC4</p>

<form action="demo_form.asp">
Mensaje: <input type="text" name="Mensaje" value="PlainText" id="mensaje"><br>
Clave  : <input type="text" name="Clave" value="Key" id="clave"><br>
</form>

<p></p>

<button onclick="ejecutar()">Ejecutar</button>

<script>

function swap(s,i,j){

	x = s[i];
	s[i] = s[j];
	s[j] = x;
	
	return s;
}

function paso1(s,i,j,key){

	console.log("Paso 1 Aplicación de formula -> j = (j + S[i] + key[i mod keylength]) mod 256" + "<br>");
	console.log("Valor de s[i] = "  + s[i] + "<br>");
	console.log("Valor de i = "  + i + "<br>");
	console.log("Valor de j = "  + j + "<br>");
	console.log("Valor de Key = " + key + "<br>");

	
	j =  (j + s[i] + key.charCodeAt(i % key.length)) % 256;

	console.log("Valor de j = " + j +"<br>");
	return j;
}

function paso2(s,i,j){

	console.log("Paso 2 Permutación del vector S entre S[i] con S[j]" + "<br>");
	console.log("Valor de S[] antes = " + s +"<br>");

	s = swap(s,i,j);

	console.log("Valor de S[] resultado = " + s +"<br>");
	return s;
}

function paso3(i){
	
	console.log("Paso 3: Obtener posición del caracter Mi a cifrar" +"<br>");

	i = (i + 1) % 256;

	console.log("Valor de i = " + i +"<br>");
	return i;
}

function paso4(s,i,j){

	console.log("Paso 4" + "<br>");

	j = (j + s[i]) % 256;
	
	console.log("Valor de j = " + j +"<br>");
	return j;
}

function paso5(s,i,j){

	console.log("Paso 5 Permutación del vector S entre S[i] con S[j]" + "<br>");

	s = swap(s,i,j);
	
	console.log("Valor de S[] resultado = " + s +"<br>");
	return s;
}

function paso6(str,s,i,j,y){

	console.log("Paso 6 Aplicación de la formula -> K := S[(S[i] + S[j]) mod 256]" + "<br>");

	k = String.fromCharCode(str.charCodeAt(y) ^ s[(s[i] + s[j]) % 256]); 

	console.log("Resultado = " + k +"<br>");
	return k;
}

function encriptar(key, str){
	
	var s = [], j = 0, x, resultado = '';

	for (var i = 0; i < 256; i++) {
		s[i] = i;
	}

	//Se realiza la inicialización de la clave
	console.log("Inicialización de la clave");
	for (i = 0; i < 256; i++) {
		
		j = paso1(s,i,j,key);
		s = paso2(s,i,j);
	}

	i = 0;
	j = 0;
	iter = 0;
	

	//Se encripta el mensaje
	console.log("Cifrado de mensaje");
	for (var y = 0; y < str.length; y++) {

		iter = y + 1;	

		console.log("Iteración Nro: " + iter +"<br>"+"<br>");
		console.log("Caracter a ser cifrado "+ str.charAt(y) +"<br>");
		console.log("Valor de S[] = "  + s + "<br>");
		console.log("Valor de i = "  + i + "<br>");
		console.log("Valor de j = "  + j + "<br>");
		console.log("Valor de y = "  + y + "<br>");

		i = paso3(i);
		j = paso4(s,i,j);
		s = paso5(s,i,j);

		resultado+= paso6(str,s,i,j,y);
		console.log("Caracter cifrado "+ resultado[y] +"<br>");
	}

	return resultado;
}

function desencriptar(key,str){

	return encriptar(key,str);
}


function ejecutar(){

	var str = document.getElementById('mensaje').value;
	var key = document.getElementById('clave').value;

	document.write("<br>"+"El mensaje ingresado es: " + str);

	var resultado =	encriptar(key,str);

	var resultadoOriginal =desencriptar( key, resultado );

	document.write("<br>"+"El mensaje crifrado es: " + resultado);
	document.write("<br>"+"El mensaje descifrado es: " + resultadoOriginal);

}


</script> 

</body>
</html>