<h1>Vigenere - Desencriptación</h1>
<p>Para el decifrado se utiliza el abecedario ingles, el cual solo incluye letras de la A a la Z sin incluir la Ñ. De esta manera tenemos un alfabeto de encriptación de 26 letras.</p>
<p>Para encriptar el texto ingresado se necesita una clave de encriptación en el alfabeto antes mecionado, esta clave se repite hasta que tenga el mismi largo que el texto a encriptar y luego se procede a utilizar la siguiente formula para encriptar caracter a caracter.</p>
<p>Xi = (Yi - Zi) mod n </p>
<p>Donde:</p>
<ul>
	<li>Yi = posicion en alfabeto de caracter encriptado</li>
	<li>Xi = posicion en alfabeto de caracter desencriptado</li>
	<li>Zi = posicion en alfabeto de caracter de la clave utilizado para encriptar</li>
	<li>n = cantidad de letras del alfabeto usado (en este caso 26)</li>
</ul>

<form name="initializeVigenereForm" ng-controller="VigenereCtrl as vigenereCtrl" ng-submit="initializeVigenereForm.$valid && vigenereCtrl.initializeDecryptProblem()" novalidate>
	<div class="form-group">
		<label>Autoevaluación</label>
		<div class="input-group">
			<div id="radioBtn" class="btn-group">
				<a class="btn btn-primary btn-sm" ng-class="{ 'active' : vigenereCtrl.vigenere.withAutoEvaluation, 'notActive' : !vigenereCtrl.vigenere.withAutoEvaluation }" ng-click="vigenereCtrl.enableAutoEvaluation()">Si</a>
				<a class="btn btn-primary btn-sm" ng-class="{ 'active' : !vigenereCtrl.vigenere.withAutoEvaluation, 'notActive' : vigenereCtrl.withAutoEvaluation }" ng-click="vigenereCtrl.disableAutoEvaluation()">No</a>
			</div>
		</div>
		<input type="hidden" id="withAutoEvaluation" ng-model="vigenereCtrl.vigenere.withAutoEvaluation"/>
	</div>
	<div class="form-group">
		<label for="key">Clave</label>
		<input type="text" class="form-control" ng-model="vigenere.key" id="key" placeholder="Ingresar clave" ng-pattern="/^[a-zA-Z]*$/" required>
		<p class="help">Escriba una clave que contenga caracteres del alfabeto ingles. Es decir de la A a las Z sin incluir caracteres como * o ñ<p>
	</div>
	<div class="form-group">
		<label for="text">Texto a encriptar</label>
		<textarea class="form-control" id="text" rows="5" ng-model="vigenere.text" ng-pattern="/^[a-zA-Z]*$/" required></textarea>
	</div>

	<h3>Test Matriz</h3>
	

	<button type="submit" class="btn btn-default">Empezar</button>
</form>

