<p>Los registros de desplazamiento realimentados (FSR) se utilizan para generar
secuencias de bits largas e imprevisibles a partir de una semilla corta (clave). La secuencia generada
se utiliza para encriptar/desencriptar los mensajes. Todos los generadores pseudoaleatorios producen
secuencias finitas y periódicas de números empleando operaciones aritméticas y lógicas. Lo único que se puede conseguir es que estas secuencias sean lo más largas posibles antes de comenzar a repetirse y que superen las pruebas estadísticas de aleatoriedad.
El mecanismo para generar la secuencia consiste en aplicar una función (lineal o no lineal) a
los bits del registro (inicializado con la clave) y obtener un nuevo bit que se agrega a la secuencia. 
El registro entonces se actualiza con un desplazamiento a izquierda con el ultimo bit generado. La funcion
de realimentacion se sigue aplicando al registro hasta obtener una secuencia con la cantidad de bits del 
mensaje a encriptar. El bit ingresante es el resultado de la funcion de realimentacion cuyos
parametros son los bits del paso anterior. En caso de que la funcion sea lineal
(LFSR) solo es posible utilizar la operación XOR entre los distintos bits. En
nuestro caso, al ser no lineal (NLFSR) la función tmb puede utilizar AND, OR y
NOT.</p>