<h1>NLFSR</h1>
<p>Los registros de desplazamiento realimentados (FSR) se utilizan para generar
secuencias de bits para encriptar los mensajes. El registro consta de n bits que
por cada ciclo de reloj es desplazado hacia la derecha desechando el ultimo bit.</p>
<p>El bit ingresante es el resultado de la funcion de realimentacion cuyos
parametros son los bits del paso anterior. En caso de que la funcion sea lineal
(LFSR) solo es posible utilizar la operación XOR entre los distintos bits. En
nuestro caso, al ser no lineal (NLFSR) la función tmb puede utilizar AND, OR y
NOT.</p>

