<h2>Calculadora booleana</h2>

<div class="well">
	{{nlfsrCtrl.boolExpr}}
</div>

<div>
	<button class="btn btn-default" ng-click="nlfsrCtrl.addZero()">0</button>
	<button class="btn btn-default" ng-click="nlfsrCtrl.addOne()">1</button>
	<button class="btn btn-default" ng-click="nlfsrCtrl.addAND()">AND</button>
	<button class="btn btn-default" ng-click="nlfsrCtrl.addOR()">OR</button>
	<button class="btn btn-default" ng-click="nlfsrCtrl.addXOR()">XOR</button>
	<button class="btn btn-default" ng-click="nlfsrCtrl.addNOT()">NOT</button>
	<button class="btn btn-default" ng-click="nlfsrCtrl.addBrac()">(</button>
	<button class="btn btn-default" ng-click="nlfsrCtrl.addBrac2()">)</button>
	<button class="btn btn-default" ng-click="nlfsrCtrl.erase()">Borrar</button>
	<button class="btn btn-default" ng-click="nlfsrCtrl.calculate()">Calcular</button>
</div>
