<h2>Calculadora booleana</h2>

<div class="well">
	{{nlfsrCtrl.boolExpr}}
</div>

<div>
	<button class="btn btn-default" ng-click="nlfsrCtrl.boolExpr = nlfsrCtrl.calcCtrl.addZero(nlfsrCtrl.boolExpr);" ng-disabled="nlfsrCtrl.calcCtrl.isDisableZero">0</button>
	<button class="btn btn-default" ng-click="nlfsrCtrl.boolExpr = nlfsrCtrl.calcCtrl.addOne(nlfsrCtrl.boolExpr);" ng-disabled="nlfsrCtrl.calcCtrl.isDisableOne">1</button>
	<button class="btn btn-default" ng-click="nlfsrCtrl.boolExpr = nlfsrCtrl.calcCtrl.addAND(nlfsrCtrl.boolExpr)" ng-disabled="nlfsrCtrl.calcCtrl.isDisableAND">AND</button>
	<button class="btn btn-default" ng-click="nlfsrCtrl.boolExpr = nlfsrCtrl.calcCtrl.addOR(nlfsrCtrl.boolExpr)" ng-disabled="nlfsrCtrl.calcCtrl.isDisableOR">OR</button>
	<button class="btn btn-default" ng-click="nlfsrCtrl.boolExpr = nlfsrCtrl.calcCtrl.addXOR(nlfsrCtrl.boolExpr)" ng-disabled="nlfsrCtrl.calcCtrl.isDisableXOR">XOR</button>
	<button class="btn btn-default" ng-click="nlfsrCtrl.boolExpr = nlfsrCtrl.calcCtrl.addNOT(nlfsrCtrl.boolExpr)" ng-disabled="nlfsrCtrl.calcCtrl.isDisableNOT">NOT</button>
	<button class="btn btn-default" ng-click="nlfsrCtrl.boolExpr = nlfsrCtrl.calcCtrl.addBrac(nlfsrCtrl.boolExpr)" ng-disabled="nlfsrCtrl.calcCtrl.isDisableBrac">(</button>
	<button class="btn btn-default" ng-click="nlfsrCtrl.boolExpr = nlfsrCtrl.calcCtrl.addBrac2(nlfsrCtrl.boolExpr)"ng-disabled="nlfsrCtrl.calcCtrl.isDisableBrac2">)</button>
	<button class="btn btn-default" ng-click="nlfsrCtrl.boolExpr = nlfsrCtrl.calcCtrl.erase(nlfsrCtrl.boolExpr)" ng-disabled="nlfsrCtrl.calcCtrl.isDisableErase">Borrar</button>
	<button class="btn btn-default" ng-click="nlfsrCtrl.boolExpr = nlfsrCtrl.calcCtrl.calculate(nlfsrCtrl.boolExpr)" ng-disabled="nlfsrCtrl.calcCtrl.isDisableCalculate">Calcular</button>

</div>
