<h1>NLFSR</h1>
<p>Los registros de desplazamiento realimentados (FSR) se utilizan para generar
secuencias de bits largas e imprevisibles a partir de una semilla corta (clave). La secuencia generada
se utiliza para encriptar/desencriptar los mensajes. Todos los generadores pseudoaleatorios producen
secuencias finitas y periódicas de números empleando operaciones aritméticas y lógicas. Lo único que se puede conseguir es que estas secuencias sean lo más largas posibles antes de comenzar a repetirse y que superen las pruebas estadísticas de aleatoriedad.
El mecanismo para generar la secuencia consiste en aplicar una función (lineal o no lineal) a
los bits del registro (inicializado con la clave) y obtener un nuevo bit que se agrega a la secuencia. 
El registro entonces se actualiza con un desplazamiento a izquierda con el ultimo bit generado. La funcion
de realimentacion se sigue aplicando al registro hasta obtener una secuencia con la cantidad de bits del 
mensaje a encriptar </p>
<p>El bit ingresante es el resultado de la funcion de realimentacion cuyos
parametros son los bits del paso anterior. En caso de que la funcion sea lineal
(LFSR) solo es posible utilizar la operación XOR entre los distintos bits. En
nuestro caso, al ser no lineal (NLFSR) la función tmb puede utilizar AND, OR y
NOT.</p>

<h2>Parametros iniciales</h2>

<div ng-controller="NlfsrCtrl as nlfsrCtrl">

	<div class="form-group">
		<label for="key">Clave</label>
		<input type="text" class="form-control" ng-model="nlfsr.key" id="key" placeholder="Ingresar clave binaria" ng-pattern="/^[0,1]*$/" required>
		<p class="help">Escriba una secuencia binaria como clave<p>
	</div>
	<div class="form-group">
		<label for="funcion">Función de retroalimentación</label>
		<input type="text" class="form-control" ng-model="nlfsr.function" id="funcion" placeholder="Ingresar función de retroalimentación">
		<p class="help">Escriba la funcion de retroalimentación con las entradas A1, A2... An y los operadores NOT, AND y OR.<p>
	</div>
	<div class="form-group">
		<label for="text">Texto a encriptar</label>
		<textarea class="form-control" id="text" rows="5" ng-model="nlfsr.text" ng-pattern="/^[a-zA-Z]*$/" required></textarea>
		<p class="help">Escriba el texto a ser encriptado.<p>
	</div>

	<div class="form-group">
		<label>Autoevaluación</label>
		<div class="input-group">
			<div id="radioBtn" class="btn-group">
				<a class="btn btn-primary btn-sm" ng-class="{ 'active' : nlfsrCtrl.nlfsr.withAutoEvaluation, 'notActive' : !nlfsrCtrl.nlfsr.withAutoEvaluation }" ng-click="nlfsrCtrl.enableAutoEvaluation()">Si</a>
				<a class="btn btn-primary btn-sm" ng-class="{ 'active' : !nlfsrCtrl.nlfsr.withAutoEvaluation, 'notActive' : nlfsrCtrl.withAutoEvaluation }" ng-click="nlfsrCtrl.disableAutoEvaluation()">No</a>
			</div>
		</div>
		<input type="hidden" id="withAutoEvaluation" ng-model="nlfsrCtrl.nlfsr.withAutoEvaluation"/>
	</div>

	<button ng-click="nlfsrCtrl.initializeProblem()">Empezar</button>

	<div>

	<p> Funcion: {{nlfsrCtrl.nlfsr._function}}</p>

	<label>Registro Actual</label>
	<div class="well">
		<p>{{nlfsrCtrl.nlfsr._register}}</p>
	</div>

	<label>Secuencia encriptadora</label>
	<div class="well">
		<p>{{nlfsrCtrl.nlfsr._bstream}}</p>
	</div>
	<div>
		<button ng-click="nlfsrCtrl.nlfsr.stepBack()">Atras</button>
		<button ng-click="nlfsrCtrl.nlfsr.stepForward()">Adelante</button>
		<button ng-click="nlfsrCtrl.nlfsr.stepForward()">Ver mensaje y su encriptación</button>
		<button ng-click="nlfsrCtrl.nlfsr.stepForward()">Calculadora binaria</button>
	</div>
</div>