<h1>Cifrado de Hill</h1>
<p>Para el cifrado se utiliza el abecedario inglés, el cual solo incluye letras de la 'a' a la 'z' sin incluir la 'ñ'. Los espacios, vocales tildadas, mayúsculas, dígitos, símbolos y retornos de linea no están permitidos. De esta manera tenemos un alfabeto de 26 caracteres.</p>
<p>Para cifrar el mensaje escrito en el alfabeto antes mencionado, se necesita una matriz de cifrado que debe cumplir las siguientes condiciones:<br>
<ul>
	<li>La matriz debe ser de 2x2 o 3x3</li>
	<li>La matriz debe estar formada por números naturales</li>
	<li>La matriz debe ser inversible en módulo 26. Es decir <em>det(K) mod 26 = 1</em></li>
</ul>
</p>
<h4>Variables</h4>
<ul>
	<li><em>k</em>: cantidad de filas/columnas de la matriz de cifrado (2 ó 3)</li>
	<li><em>K</em>: matriz de cifrado kxk</li>
	<li><em>K-1</em>: matriz de descifrado kxk</li>
	<li><em>l</em>: longitud del mensaje</li>
	<li><em>M</em>: cadena de caracteres</li>
	<li><em>C</em>: cadena de caracteres</li>
	<li><em>m</em>: vector de kx1</li>
	<li><em>c</em>: vector de kx1</li>
</ul>
<h3>Algoritmo de Cifrado</h3>
<em>Condiciones iniciales:</em>
<ul>
	<li>M=vacío</li>
	<li>C=vacío</li>
</ul>
<ol>
	<li>Rellenar el mensaje con caracteres aleatorios al final de él si <em>l mod k != 0</em></li>
	<li>Colocar el mensaje en M</li>
	<li>Mientras queden caracteres en el mensaje M:
	<ol>
		<li>Tomar los siguientes k caracteres de M, convertirlos al número correspondiente según su posición en el alfabeto y disponerlos en el vector m (de arriba hacia abajo)</li>
		<li>Calcular <em>c = Km (mod 26)</em>. Si algún ci &lt 0  buscar su congruente tal que 0 <= ci <= 25</li>
		<li>Concatenar C con c</li>
	</ol></li>
	<li>Convertir los números en C a caracteres (cada número es la posición en el alfabeto del caracter que se quiere buscar)</li>
</ol>
<h3>Algoritmo de Descifrado</h3>
<em>Condiciones iniciales:</em>
<ul>
	<li>M=vacío</li>
	<li>C=criptograma</li>
</ul>
<ol>
	<li>Calcular la matriz inversa K-1</li> 
	<li>Mientras queden caracteres en el criptograma C:
	<ol>
		<li>Tomar los siguientes k caracteres de C, convertirlos al número correspondiente según su posición en el alfabeto y disponerlos en el vector c (de arriba hacia abajo)</li>
		<li>Calcular <em>m = K-1c (mod 26)</em>. Si algún mi &lt 0  buscar su congruente tal que 0 <= mi <= 25</li>
		<li>Concatenar M con m</li>
	</ol></li>
	<li>Convertir los números en M a caracteres (cada número es la posición en el alfabeto del caracter que se quiere buscar)</li>
</ol>
<p><b>ACLARACIÓN:</b> El mensaje obtenido contendrá los caracteres de relleno, si fue necesario colocarlos durante el cifrado.</p>
